/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.testing
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.idea/
/.phpunit.cache
/.kiro
/.junie
/.rector.cache
*.log
.DS_Store
.phpactor.json
.phpstorm.meta.php
.pint.result.cache
/.nova
/.zed
/auth.json
/storage/pail
Thumbs.db
_ide_helper.php
_ide_helper_models.php
tests/Browser/Screenshots
/.github/git-commit-instructions.md
